@charset "utf-8";
#barra {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-left: 35px;
    padding-top: 15px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 17px;
    background-image: -webkit-linear-gradient(270deg,rgba(77,0,1,1.00) 0%,rgba(215,6,6,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(77,0,1,1.00) 0%,rgba(215,6,6,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(77,0,1,1.00) 0%,rgba(215,6,6,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(77,0,1,1.00) 0%,rgba(215,6,6,1.00) 100%);
}
body {
    background-image: url(../images/FONDO.png);
}

#barra #botones {
    margin-left: 75px;
    margin-top: 50px;
    color: #FFFFFF;
}
#pie {
    background-color: #A00000;
    font-family: "Cabin", sans-serif;
    color: #FFFFFF;
    padding-top: 21px;
    padding-bottom: 22px;
    padding-right: 122px;
    margin-right: auto;
    padding-left: 153px;
}
#pie .vinculos {
    padding-right: 21px;
}
#pie #ppie {
    padding-left: 360px;
}.row .col-md-12 #pa {
    font-family: "Cabin", sans-serif;
    text-align: left;
    font-size: 12pt;
}
.col-md-12 #pa .titul {
    font-family: "Abril Fatface", serif;
    text-align: center;
    margin-top: 48px;
    color: #3E0F00;
}
.row .col-md-4 .img.his {
    margin-top: 38px;
    margin-bottom: 73px;
}
.row .col-md-4 .img.his:hover  {
    margin-top: 38px;
    margin-bottom: 73px;
	opacity: 70%;
}
